@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*Configuração do tamanho da seta*/ 
.seta{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 15px;
}

/*CENTRALIZANDO A LOGO*/
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

/*TAMANHO DA LOGO*/
.logoTamanho {
    width: 70px;
    height: 70px;
    margin-right: 150px;
}

/*CENTRALIZANDO O TÍTULO*/
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*AJUSTES DO TÍTULO*/
.titulo h2 {
    margin: 0px;
    font-size: 25px;
}

/*AJUSTE DO BOTÃO*/
.alinhaBotao {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CONFIGURAÇÃO DO BOTÃO*/
.alinhaBotao button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: #093F61;
    color: #fff;
    border-radius: 10px;
    border: transparent;
}
.prot
{
    width: 360px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.imagem
{
    width: 150px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.armacao
{
    scale: 6%;
}
.texto
{
    width: 210px;
    height: 30px;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    display: flex;
}
h4
{
    height: 20px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bolder;
}
h5
{
    height: 15px;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    font-size: 10px;
    margin-left: 6.5px;
    margin-right: 6.5px;
}
.addremove
{
    width: 100px;
    height: 20px;
    background-color: #093F61;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}
.add
{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
.remove
{
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
.resto
{
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
p
{
    margin: 0;
    padding: 0;
    color: white;
}